---
# see https://github.com/FGasper/perl-github-action-tips

name: Test Code on Alpine Linux
permissions:
  contents: read
on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: alpine

    steps:
      # - uses: actions/checkout@main
      - name: Install Dependencies
        continue-on-error: true
        run: |
          apk update
          apk upgrade
          apk add --no-cache perl-dev build-base
          apk add perl perl-app-cpanminus make gzip git
          apk add perl-test-most perl-test-nowarnings perl-lwp-protocol-https perl-chi perl-json-xs perl-json-maybexs
          apk add perl-json-maybexs perl-params-util perl-datetime perl-test-mockmodule yaml-dev libffi-dev openssl-dev
          perl -V
          # cpanm -iqn ExtUtils::MakeMaker File::Spec Test::Most
          # cpanm -iqn Sub::Identify Log::Any
          # cpanm -iqn Sub::Private LWP::UserAgent Test::CleanNamespaces
          cd $RUNNER_WORKSPACE
          git clone --recurse-submodules $GITHUB_SERVER_URL/$GITHUB_REPOSITORY.git
          cd $GITHUB_WORKSPACE
          cpanm --quiet --notest YAML::XS Data::Alias Data::Reuse JSON::Parse Scalar::Readonly Readonly::Enum Readonly::Values::Syslog Log::Abstraction Object::Configure || cpanm --force Log::Abstraction Object::Configure
          cpanm --iqn YAML::XS Data::Alias Data::Reuse JSON::Parse Scalar::Readonly Readonly::Enum Readonly::Values::Syslog Config::Abstraction Log::Abstraction Object::Configure
          cpanm -iqn File::Spec ExtUtils::MakeMaker Geo::Location::Point Log::Abstraction
          cpanm -iqn --installdeps .
      - name: Make module
        run: |
          # find ~ -name build.log | xargs cat
          cd $GITHUB_WORKSPACE
          perl Makefile.PL AUTOMATED_TESTING=1
          make
      - name: Run Tests
        run: |
          cd $GITHUB_WORKSPACE
          make test AUTHOR_TESTING=1 AUTOMATED_TESTING=1
        env:
          AUTHOR_TESTING: 1
          AUTOMATED_TESTING: 1
